*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
p,
body {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

body {
  box-sizing: inherit;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 0.1rem;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.highlight {
  color: goldenrod;
  font-weight: bolder;
}

.container {
  width: 90%;
  max-width: 15rem;
  font-size: 1rem;
  margin: 0 auto 1.5rem;
  padding: 2rem;
  color: whitesmoke;
  background: rgb(14, 20, 31);
  background-image: url(images/green-dust-and-scratches.png);
  outline: 3px solid rgba(255, 255, 255, 0.3);
  outline-offset: -1.25rem;
  border-radius: 2.25rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main-heading {
  text-align: center;
  max-width: 18rem;
  border-radius: 2.25rem;
  margin: 1.25rem auto 0.75rem;
  padding: 1rem 0.8rem;
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: 900;
  background: rgb(14, 20, 31);
  background-image: url(images/green-dust-and-scratches.png);
}

.heading {
  margin: 0.8rem 0 0;
  font-size: 0.75rem;
}

.overview {
  text-align: center;
}

.overview__description {
  margin: 1rem 0 1.5rem;
  line-height: 1.8;
}

.game {
  line-height: 1.8;
}

.game__left {
  display: flex;
  flex-direction: column;
  max-width: 38%;
}

.game__right {
  display: flex;
  flex-direction: column;
  max-width: 38%;
}

.game__input {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-family: 'Orbitron', sans-serif;
  font-weight: bolder;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 2.25rem;
  font-size: 1.3rem;
  padding: 0.5rem;
  margin: 0 0 0.5rem;
}

label {
  font-size: 0.75rem;
  min-height: 3rem;
  margin: 0 0 0.5rem;
}

.game__number {
  background-color: goldenrod;
  color: rgb(14, 20, 31);
  text-align: center;
  line-height: initial;
  font-size: 1.3rem;
  border-radius: 2.25rem;
  padding: 0.5rem;
  margin: 0 0 0.5rem;
  font-weight: 700;
}

.game__message {
  font-size: 0.75rem;
  font-weight: bolder;
  min-height: 3rem;
  color: goldenrod;
  margin: 0 0 0.5rem;
  hyphens: auto;
}

.btn {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-size: 0.65rem;
  font-weight: bolder;
  letter-spacing: 0.1rem;
  font-family: 'Orbitron', sans-serif;
  color: whitesmoke;
  padding: 0.4rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2.25rem;
  max-width: 5rem;
  cursor: pointer;
}

.btn:hover {
  color: rgb(14, 20, 31);
  background-color: goldenrod;
}

.footer {
  text-align: center;
  line-height: 1.5;
  font-size: 0.7rem;
  margin: 0 0 0.5rem;
}

.footer__link:link {
  color: rgb(14, 20, 31);
}

.footer__link:visited {
  color: rgb(218, 106, 32);
}

.footer__link:hover {
  color: goldenrod;
}

.footer__link:active {
  color: gold;
}

.footer__img-sources {
  margin: 0 0 0.5rem;
}
